<<<<<<< HEAD
﻿@{
    PageData["title"] = "Error 404: Page Not Found";
}
<h2>Error 404: Page Not Found</h2>
=======
﻿@{
    PageData["title"] = "Error 404: Page Not Found";
}
<h2>Error 404: Page Not Found</h2>
>>>>>>> ce7c8ef5a7f2594ba4f515d10169d52b964d377f
<p>The page you're looking for was not found. You can <a href="javascript:history.back()">go back</a> or start over by navigating to the <a href="/">home screen</a>.</p>