<div ng-controller="StudentsHandlerCtrl">
    <div class="container">
        <div class="form-content">
            <div class="form">
                <form id="form" name="studentForm" novalidate>
                    <div class="form-row">
                        <label for="Id"><span class="required">*</span>Student Id:</label>
                        <div class="angular-two-way-labels">{{student.id}}</div>
                        <div class="form-field">
                            <span class="form-input">
                                <input required ng-model="student.id" ng-pattern="/^\d{9}$/" placeholder="123456789" type="text" name="Id" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Major"><span class="required">*</span>Major:</label>
                        <div class="angular-two-way-labels">{{student.major}}</div>
                        <div class="form-field">
                            <span class="form-input">
                                <input required ng-model="student.major" ng-pattern="/([a-zA-Z]{3,30}\s*)+/" placeholder="Software Engineering" type="text" name="major" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="fName"><span class="required">*</span>First Name:</label>
                        <div class="angular-two-way-labels">{{student.fName}}</div>
                        <div class="form-field">
                            <span class="form-input">
                                <input required ng-model="student.fName" ng-pattern="/([a-zA-Z]{3,30}\s*)+/" placeholder="Sylvester" type="text" name="fName" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="lName"><span class="required">*</span>Last Name:</label>
                        <div class="angular-two-way-labels">{{student.lName}}</div>
                        <div class="form-field">
                            <span class="form-input">
                                <input required ng-model="student.lName" ng-pattern="/([a-zA-Z]{3,30}\s*)+/" placeholder="Stallone" type="text" name="lName" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Phone"><span class="required">*</span>Phone:</label>
                        <div class="angular-two-way-labels">{{student.phone}}</div>
                        <div class="form-field">
                            <span class="form-input">
                                <input required ng-model="student.phone" ng-pattern="/\(?\d{3}\)?-? *\d{3}-? *-?\d{4}/" placeholder="123123-1234" type="text" name="phone" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Email"><span class="required">*</span>Email:</label>
                        <div class="angular-two-way-labels">{{student.email}}</div>
                        <div class="form-field">
                            <span class="form-input">
                                <input required ng-model='student.email' ng-pattern='/^(([^><>()[\]\\.,;:\s&#64;\" ]+(\.[^><>()[\]\\.,;:\s&#64;\"]+)*)|(\".+\"))&#64;((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' placeholder="stallone@example.com" type="text" name="email" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="cntr-row">
                        <p ng-click="saveStudent(student, studentForm)" id=" save" class=" btn-mnu">
                            <span class="icono-cross" ng-click="editStudent(s)"></span>
                        </p>
                    </div>

                    <div ng-if='studentForm.$invalid' ng-messages='studentForm.$error' id="validation-msg" class="validmsg">
                        <div ng-message='required'>Invalid form. Please check that all required fields are present and filled in correctly!</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="image-divider">
        <div class="cta">
            <div id="students" class="std">
                <ul ng-repeat="s in students track by $index">
                    <li>
                        <div ng-hide="editorEnabled">
                            {{s.id}}
                        </div>
                        <input ng-show="editorEnabled" ng-model="s.id" />
                    </li>
                    <li>
                        <div ng-hide="editorEnabled">
                            {{s.major}}
                        </div>
                        <input ng-show="editorEnabled" ng-model="s.major" />
                    </li>
                    <li>
                        <div ng-hide="editorEnabled">
                            {{s.fName}}
                        </div>
                        <input ng-show="editorEnabled" ng-model="s.fName" />
                    </li>
                    <li>
                        <div ng-hide="editorEnabled">
                            {{s.lName}}
                        </div>
                        <input ng-show="editorEnabled" ng-model="s.lName" />
                    </li>
                    <li>
                        <div ng-hide="editorEnabled">
                            {{s.phone}}
                        </div>
                        <input ng-show="editorEnabled" ng-model="s.phone" />
                    </li>
                    <li>
                        <div ng-hide="editorEnabled">
                            {{s.email}}
                        </div>
                        <input ng-show="editorEnabled" ng-model="s.email" />
                    </li>
                    <li style="float:right">
                        <span class="icono-trash" ng-click="deleteStudent(s)"></span>
                        <span ng-hide="editorEnabled" class="icono-asterisk" ng-click="editorEnabled=!editorEnabled; editStudent()"></span>
                        <span ng-show="editorEnabled" class="icono-sync" ng-click="editorEnabled=!editorEnabled; editStudent()"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="empty-for-now">
        <div class="circles" id="c-co">
            <div ng-repeat="s in students track by $index" class="circle" ng-style="getStyle()">
                <span>{{s.fName.charAt(0).toUpperCase() + s.lName.charAt(0).toUpperCase()}}</span>
            </div>
        </div>
    </div>
</div>