div(ng-controller="LoginCtrl")
	.login-form(ng-hide="identity.isAuthenticated()")
		span
			img(src="/images/wvup.png")
		form
			div
				input.text(type="text", placeholder="USERNAME", ng-model="username")
			.pwd
				input.text(type="password", placeholder="PASSWORD", ng-model="password")
			span.btn.btn-default.right(ng-click="signin(username, password)") SIGN IN
			span.btn.btn-default.left REGISTER