html
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.noMargins
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.sideContent
{
	height: 95%;
	background-color: #3399FF;
}
.mainContent
{
	height: 95%;
	background-color: lightgrey;
}
.sidebar
{
	padding-top: 10px;
}
.topBar
{
	height: 5%;
	background-color: #999999;
}