* {
  outline: 0px none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input[type="text"],
input[type="password"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 0.7em 2em 0.7em 1.7em;
  color: #446cb3;
  font-size: 18px;
  background: none repeat scroll 0% 0% transparent;
  border: medium none;
}
.wrapper {
  margin: 0px auto;
  width: 1000px;
}
.page {
  background: #fff;
  width: 980px;
  float: left;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
#nav {
  text-align: left;
  left: 0;
  height: auto;
  top: 30%;
  position: absolute;
  z-index: 999999;
  transition: all 0.1s ease-out 0s;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
#nav .header {
  padding: 10px 0px 40px 20px;
  position: relative;
}
.hh i {
  color: #fff;
  cursor: pointer;
  z-index: 9999999;
  padding-left: 20px;
  padding-top: 10px;
}
.main-content ul li {
  top: 20%;
  margin: 0px 0px 1px;
  padding: 10px 20px;
  list-style-type: none;
  background: none repeat scroll 0% 0% #fff;
}
.main-content ul li i {
  color: #ecf0f1;
  cursor: pointer;
}
.main-content ul li i:hover {
  color: #000;
}
.main-content ul li i:hover {
  color: #000;
}
#nav .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ef4423;
  cursor: pointer;
  z-index: 99;
}
header {
  width: 100%;
  position: relative;
  height: 50px;
  background-color: #89c4f4;
}
.login-form {
  background: none repeat scroll 0% 0% #fff;
  border: thin solid #89c4f4;
  margin: 9% auto;
  position: relative;
  width: 400px;
  text-align: center;
}
.login-form form {
  padding: 5% 10% 20% 2.5em;
}
.login-form form div {
  border: 1px solid #b4b2b2;
  list-style: outside none none;
  margin-bottom: 25px;
  width: 100%;
  background: none repeat scroll 0% 0% transparent;
  border-radius: 0.3em;
}
.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  display: block;
  color: #808080;
  width: 135px;
  margin: 0px auto;
  border: thin solid #446cb3;
}
.btn:hover {
  border: thin solid transparent;
}
.btn-default {
  background-color: #fff;
}
.right {
  float: right;
}
.left {
  float: left;
}
.pwd {
  margin-bottom: 50px !important;
}
.open {
  display: none;
}
.main-message-block {
  width: 50%;
  margin: 0 auto;
  text-align: right;
  margin-top: 10%;
}
.textarea-custom {
  width: 400px;
  height: 100px;
  resize: none;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.comment {
  padding: 20px 0px 20px 0px;
}
.inp-custom {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  padding: 5px;
}
.btn-custom {
  border: thin solid transparent !important;
  padding: 4px !important;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  background-color: #89c4f4;
}
.btn-custom:hover {
  background-color: #fff;
}
.flatTable {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
  font-weight: bold;
  color: darkGrey;
}
tr {
  height: 50px;
  border-bottom: rgba(0,0,0,0.05) 1px solid;
}
td {
  box-sizing: border-box;
  padding-left: 30px;
}
.titleTr {
  height: 70px;
  border: 0px solid;
}
.controlTd {
  color: #000;
  position: relative;
  width: 80px;
  cursor: pointer;
}
.headingTr {
  height: 30px;
  font-size: 8pt;
  border: 0px solid;
  background-color: #e4f1fe;
}
.button {
  text-align: center;
  cursor: pointer;
}
.sForm {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  overflow: hidden;
  transition: width 1s, right 0.3s;
  padding: 0px;
  box-sizing: border-box;
}
.title {
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.1);
}
.display {
  width: 300px;
}
.addStudentToClass i {
  color: #89c4f4;
  cursor: pointer;
}
.security {
  cursor: pointer;
  float: right;
  font-size: 1.3em;
  line-height: 2em;
  padding-right: 20px;
}
