DOCTYPE
html
	head
	title Gradebook
	base(href="/")
	link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/vendor/toastr/toastr.css")
	link(rel="stylesheet" href="/css/site.css")
	body(ng-app='app')
	div
		block main-content
	include scripts