<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header class="p-head">
        <p>This is a header</p>
    </header>
    <div class="container">
        <div class="form-content">
            <fieldset class="form">
                <form id="form">
                    <div class="form-row">
                        <label for="Id"><span class="required">*</span>Id:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Id" />
                            </span>
                        </div>

                    </div>
                    <div class="form-row">
                        <label for="Name"><span class="required">*</span>Name:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Name" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Phone"><span class="required">*</span>Phone:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Phone" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Email"><span class="required">*</span>Email:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Email" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="submit" value="Save" id="save" />
                    </div>
                </form>
            </fieldset>
        </div>

        <div id="students">

        </div>


        <script type="text/javascript" src="~/funcs.js"></script>
        <link href="~/Site.css" rel="stylesheet" />
    </div>
</body>
</html>
