<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form id="form">
            <ul>
                <li>
                    <label for="Id">ID:</label>
                    <input type="text" id="Id" />
                </li>
                <li>
                    <label for="Name">Name:</label>
                    <input type="text" id="Name" />
                </li>
                <li>
                    <label for="Phone">Phone:</label>
                    <input type="text" id="Phone" />
                </li>
                <li>
                    <label for="Email">Email:</label>
                    <input type="text" id="Email" />
                </li>
                <li>
                    <input type="submit" value="Save" id="save" />
                </li>
            </ul>
        </form>


        <div id="students">

        </div>


        <script type="text/javascript" src="~/funcs.js"></script>
    </div>
</body>
</html>
