<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Registry</title>
    <link href="~/icono.min.css" rel="stylesheet" />
    <link href="~/Site.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="main-container">
        <header class="p-head">
            <div class="tetris" style="float:right">
                <div class="block grey1"></div>
                <div class="block grey2"></div>
                <div class="block grey1"></div>
                <div class="block"></div>
                <div class="block grey1"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block grey1"></div>
            </div>
            <p class="declaration">Student Registration</p>
        </header>
        <div class="container">
            <div class="form-content">
                <div class="form">

                    <form id="form">
                        <div class="form-row">
                            <label for="Id"><span class="required">*</span>Student Id:</label>
                            <div class="form-field">
                                <span class="form-input">
                                    <input placeholder="123456789" type="text" id="Id" class="inp-b" />
                                </span>
                            </div>
                        </div>

                        <div class="form-row">
                            <label for="Major"><span class="required">*</span>Major:</label>
                            <div class="form-field">
                                <span class="form-input">
                                    <input placeholder="Software Engineering" type="text" id="major" class="inp-b" />
                                </span>
                            </div>
                        </div>

                        <div class="form-row">
                            <label for="fName"><span class="required">*</span>First Name:</label>
                            <div class="form-field">
                                <span class="form-input">
                                    <input placeholder="Sylvester" type="text" id="fName" class="inp-b" />
                                </span>
                            </div>
                        </div>

                        <div class="form-row">
                            <label for="lName"><span class="required">*</span>Last Name:</label>
                            <div class="form-field">
                                <span class="form-input">
                                    <input placeholder="Stallone" type="text" id="lName" class="inp-b" />
                                </span>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="Phone"><span class="required">*</span>Phone:</label>
                            <div class="form-field">
                                <span class="form-input">
                                    <input placeholder="123123-1234" type="text" id="Phone" class="inp-b" />
                                </span>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="Email"><span class="required">*</span>Email:</label>
                            <div class="form-field">
                                <span class="form-input">
                                    <input placeholder="stallone@example.com" type="text" id="Email" class="inp-b" />
                                </span>
                            </div>
                        </div>
                        <div class="cntr-row">
                            <p id="save" class=" btn-mnu">
                                <span class="icono-cross"></span>
                            </p>
                        </div>
                        <div id="validation-msg"></div>
                    </form>
                </div>
            </div>

        </div>
        <div class="image-divider">
            <div id="students" class="std"> </div>
        </div>
        <div class="empty-for-now">

        </div>
        <script type="text/javascript" src="~/funcs.js"></script>
        <footer>
                <div class="ft-logo">
                </div>
            
        </footer>
    </div>
</body>
</html>
