<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Registry</title>
    <link href="~/icono.min.css" rel="stylesheet" />
    <link href="~/Site.css" rel="stylesheet" />
</head>
<body>
    <header class="p-head">
        
    </header>
    <div class="container">
        <div class="form-content">
            <div class="form">
                <form id="form">
                    <div class="form-row">
                        <label for="Id"><span class="required">*</span>Student Id:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Id" class="inp-b" />
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="Major"><span class="required">*</span>Major:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="major" class="inp-b" />
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="fName"><span class="required">*</span>First Name:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="fName" class="inp-b" />
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="lName"><span class="required">*</span>Last Name:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="lName" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Phone"><span class="required">*</span>Phone:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Phone" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="Email"><span class="required">*</span>Email:</label>
                        <div class="form-field">
                            <span class="form-input">
                                <input type="text" id="Email" class="inp-b" />
                            </span>
                        </div>
                    </div>
                    <div class="cntr-row">
                        <p id="save" class=" btn-mnu">
                            <span class="icono-cross"></span>
                        </p>
                    </div>
                </form>
            </div>
            @*<div class="console-log">
                <label>Logs</label>
                <div class="console-ta" id="log">
                    
                </div>
               
            </div>*@
        </div>

    </div>

    <div class="image-divider"></div>
    <div class="container">
        <div id="students" class="std">

        </div>
    </div>

    <script type="text/javascript" src="~/funcs.js"></script>
</body>
</html>
