<<<<<<< HEAD
﻿li{
    list-style-type:none;
}
*{
    margin:0;
    padding:0;
}

span[class^='icono'],span[class*=' icono']{
    transform: scale(0.7,0.7);
    cursor:pointer;
    color:red;
}

::-webkit-input-placeholder { font-size:12px; padding:2px;color:#D3D3D3}
::-moz-placeholder { font-size:10px; padding:2px;color:#D3D3D3} /* firefox 19+ */
:-ms-input-placeholder { font-size:10px; padding:2px;color:#D3D3D3} /* ie */
input:-moz-placeholder { font-size:10px; padding:2px; color:#D3D3D3}


body{
    font: 13px/20px Arial,sans-serif;
    color: #333;
    height: 100%;
    height:100%;
}

button{
    background:none;
}
fieldset {
    border: 0px none;
}
textarea{
    resize:none;
    height: 150px;
    width: 350px;
}
.console-ta{
    background:none;
    border: 1px groove #FFF;
    width: 400px;
    height: 200px;
    max-height:200px;
    overflow-y:auto;
}
.console-log{
    padding: 10px;
}
.container{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
    width:900px;
}
.content{
    position: relative;
    padding: 15px 0px 30px 15px;
}
.form-content{
    background: linear-gradient(to right, #E3E3E3 0px, #E3E3E3 80%, rgba(227, 227, 227, 0) 100%) repeat scroll 0% 0% transparent;
    position: absolute;
    width: 100%;
    display: block;
    height: 1px;
    top: 0px;
    left: 0px;
}

input{
    background:none;
}
.btn-mnu{
    position:absolute;
    left: 42%;
    border-radius:15px;
    border-color: #ADADAD;
=======
﻿li{
    list-style-type:none;
}
*{
    margin:0;
    padding:0;
}

span[class^='icono'],span[class*=' icono']{
    transform: scale(0.7,0.7);
    cursor:pointer;
    color:red;
}

::-webkit-input-placeholder { font-size:12px; padding:2px;color:#D3D3D3}
::-moz-placeholder { font-size:10px; padding:2px;color:#D3D3D3} /* firefox 19+ */
:-ms-input-placeholder { font-size:10px; padding:2px;color:#D3D3D3} /* ie */
input:-moz-placeholder { font-size:10px; padding:2px; color:#D3D3D3}


body{
    font: 13px/20px Arial,sans-serif;
    color: #333;
    height: 100%;
    height:100%;
}

button{
    background:none;
}
fieldset {
    border: 0px none;
}
textarea{
    resize:none;
    height: 150px;
    width: 350px;
}
.console-ta{
    background:none;
    border: 1px groove #FFF;
    width: 400px;
    height: 200px;
    max-height:200px;
    overflow-y:auto;
}
.console-log{
    padding: 10px;
}
.container{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
    width:900px;
}
.content{
    position: relative;
    padding: 15px 0px 30px 15px;
}
.form-content{
    background: linear-gradient(to right, #E3E3E3 0px, #E3E3E3 80%, rgba(227, 227, 227, 0) 100%) repeat scroll 0% 0% transparent;
    position: absolute;
    width: 100%;
    display: block;
    height: 1px;
    top: 0px;
    left: 0px;
}

input{
    background:none;
}
.btn-mnu{
    position:absolute;
    left: 42%;
    border-radius:15px;
    border-color: #ADADAD;
>>>>>>> ce7c8ef5a7f2594ba4f515d10169d52b964d377f
    width: 110px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ADADAD;
<<<<<<< HEAD
    -moz-user-select: none;
}
.btn-right{
    float: right;
}

.btn-mnu:hover{
    color: #333;
    border: 1px solid transparent;
    cursor:pointer;
}
.form-row{
    margin-bottom: 20px;
    height: 21px;
    padding:10px;
    display:inline-block;
}
.form-row > label{
    float:left;
}
#form{
    text-align:center;
}
.form-field{
    padding-right: 27px;
    position: relative;
}
.form-input{
    display: inline-block;
    padding: 1px;
    background: linear-gradient(to right, #C0C0CC 0px, #EFEFF2 38%, #EFEFF2 59%, #C0C0CD 100%) repeat scroll 0% 0% transparent;
}
.console-log{
    float: right;
}

.required{
    color: red;
}

.form-input > input{
    border: 0px none;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 14px;
    padding:2px;
    height: 22px;
    color: #003;
    width: 300px;
}
.p-head{
    background:white;
    height: 200px;
    padding-bottom:10px;
}
.std > ul > li{
    display:inline-block;
    padding: 10px;
}
#form > span{
    text-align:center;
}

.cntr-row{
    text-align:center;
    padding-top: 5%;
}
=======
    -moz-user-select: none;
}
.btn-right{
    float: right;
}

.btn-mnu:hover{
    color: #333;
    border: 1px solid transparent;
    cursor:pointer;
}
.form-row{
    margin-bottom: 20px;
    height: 21px;
    padding:10px;
    display:inline-block;
}
.form-row > label{
    float:left;
}
#form{
    text-align:center;
}
.form-field{
    padding-right: 27px;
    position: relative;
}
.form-input{
    display: inline-block;
    padding: 1px;
    background: linear-gradient(to right, #C0C0CC 0px, #EFEFF2 38%, #EFEFF2 59%, #C0C0CD 100%) repeat scroll 0% 0% transparent;
}
.console-log{
    float: right;
}

.required{
    color: red;
}

.form-input > input{
    border: 0px none;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 14px;
    padding:2px;
    height: 22px;
    color: #003;
    width: 300px;
}
.p-head{
    background:white;
    height: 200px;
    padding-bottom:10px;
}
.std > ul > li{
    display:inline-block;
    padding: 10px;
}
#form > span{
    text-align:center;
}

.cntr-row{
    text-align:center;
    padding-top: 5%;
}
>>>>>>> ce7c8ef5a7f2594ba4f515d10169d52b964d377f
.inp-b:focus {
  box-shadow: 1px 1px 2px rgba(108, 199, 246, 0.4), -1px 1px 2px rgba(108, 199, 246, 0.4), -1px -1px 2px rgba(108, 199, 246, 0.4), 1px -1px 2px rgba(108, 199, 246, 0.4);
  outline:0;
}
<<<<<<< HEAD
.image-divider{
    margin-top:415px;
    background-image: url('retro.png'); 
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
}
.std{
    border-top:thin solid #333;
    border-bottom:thin solid #333;
    height:250px;
    z-index:99999;
    width:105%;
    position:absolute;
    overflow-y:auto;
}
.std ul input{
    border:thin solid #C0C0CD;
    margin-right: 39px;
    width: 120px;
}

.std ul li{
    overflow:hidden;
    vertical-align:top;
    width:130px;
}
.vl-fail{
    color:lime;
}
.vl-msg{
    visibility:visible;
    text-align:left;
}
#validation-msg{
    width:100%;
    margin-top:100px;
}
#validation-msg p{
    text-align:center;
    display:inline-block;
    padding-right: 13px;
    color: red;
}
.tetris{
    width: 9.4em;
    height: 9.4em;
}
.tetris .block {
    width: 3.125em;
    height: 3.125em;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
}
.grey1{
    background-color: #DCDCDC;
}
.grey2{
    background-color:#F0F0F0
}
.declaration{
    font-family: 'SketchFlow Print';
    font-weight:bold;
    font-size:24px;
    clear:both;
    text-align:center;
}
footer{
    background-color:#FFF;
    opacity:.7;
    box-shadow: 0px -3px 7px -3px #000;
    height:39px;
}
.ft-logo{
    position:relative;
    display:block;
    text-align:center;
}
.cta{
    width:1000px;
    height:600px;
    position:relative;
    margin:0 auto;
}
.empty-for-now{
    height:600px;
    width: 100%;
}
.main-container{
=======
.image-divider{
    margin-top:415px;
    background-image: url('retro.png'); 
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
}
.std{
    border-top:thin solid #333;
    border-bottom:thin solid #333;
    height:250px;
    z-index:99999;
    width:105%;
    position:absolute;
    overflow-y:auto;
}
.std ul input{
    border:thin solid #C0C0CD;
    margin-right: 39px;
    width: 120px;
}

.std ul li{
    overflow:hidden;
    vertical-align:top;
    width:130px;
}
.vl-fail{
    color:lime;
}
.vl-msg{
    visibility:visible;
    text-align:left;
}
#validation-msg{
    width:100%;
    margin-top:100px;
}
#validation-msg p{
    text-align:center;
    display:inline-block;
    padding-right: 13px;
    color: red;
}
.tetris{
    width: 9.4em;
    height: 9.4em;
}
.tetris .block {
    width: 3.125em;
    height: 3.125em;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
}
.grey1{
    background-color: #DCDCDC;
}
.grey2{
    background-color:#F0F0F0
}
.declaration{
    font-family: 'SketchFlow Print';
    font-weight:bold;
    font-size:24px;
    clear:both;
    text-align:center;
}
footer{
    background-color:#FFF;
    opacity:.7;
    box-shadow: 0px -3px 7px -3px #000;
    height:39px;
}
.ft-logo{
    position:relative;
    display:block;
    text-align:center;
}
.cta{
    width:1000px;
    height:600px;
    position:relative;
    margin:0 auto;
}
.empty-for-now{
    height:600px;
    width: 100%;
}
.main-container{
>>>>>>> ce7c8ef5a7f2594ba4f515d10169d52b964d377f
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(237,237,237,1) 56%, rgba(237,237,237,1) 100%) no-repeat;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(22%, rgba(255,255,255,1)), color-stop(56%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(237,237,237,1) 56%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(237,237,237,1) 56%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(237,237,237,1) 56%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(237,237,237,1) 56%, rgba(237,237,237,1) 100%);
<<<<<<< HEAD
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

footer{
    width:100%
}

.ft-logo{
    background-image:url('ft-logo.png');
    background-repeat:no-repeat;
    width: 67px;
    height:33px;
    margin: 0 auto;
}
.ft-logo:hover{
    transform: rotate(7deg)
}
.mod-btn{
    transform: scale(0.7, 0.7);
    cursor: pointer;
    color: #F00;
}
.circles{
    width: 50%;
    margin: 0 auto;
}
.circle {
    color:white;
    text-align:center;
    width: 50px;
    height:50px;
    position:absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:  #DCDCDC;
    line-height:45px;
    font-weight:bold;
=======
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

footer{
    width:100%
}

.ft-logo{
    background-image:url('ft-logo.png');
    background-repeat:no-repeat;
    width: 67px;
    height:33px;
    margin: 0 auto;
}
.ft-logo:hover{
    transform: rotate(7deg)
}
.mod-btn{
    transform: scale(0.7, 0.7);
    cursor: pointer;
    color: #F00;
}
.circles{
    width: 50%;
    margin: 0 auto;
}
.circle {
    color:white;
    text-align:center;
    width: 50px;
    height:50px;
    position:absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:  #DCDCDC;
    line-height:45px;
    font-weight:bold;
>>>>>>> ce7c8ef5a7f2594ba4f515d10169d52b964d377f
}