.container
    .jumbotron
        h1 Virtual Learning System
        img(src="Gradebook.png")
        p Welcome to VLS!

    .row
        .col-md-6
            div(ng-include="'/partials/admin'")
        .col-md-6
            div(ng-include="'/partials/users'")