<html ng-app="StudentCRUD">
<head>
  <title>Classroom CRUD</title>
  
  
  <link rel="stylesheet" href="./content/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./content/fontAwesome/css/font-awesome.min.css">
  <script type="text/javascript" src="./scripts/angular.min.js"></script>
  <script type="text/javascript" src="./scripts/app.js"></script>
  <script type="text/javascript" src="./scripts/controllers/StudentsCtrl.js"></script>
  <style>
    .blue
    {
      color:blue;
    }

    .orange
    {
      color:orange;
    }

    .hover-orange:hover
    {
      color:orange;
    }

    .point
    {
      cursor:pointer;
    }

    .underline
    {
      text-decoration: underline;
    }

    .panel-remove
    {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .navbar-nav > li > span {
      padding-top: 15px;
      padding-bottom: 15px;

      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;

      position: relative;
      display: block;
      padding: 10px 15px;
    }
  </style>
</head>
<body ng-controller="StudentsCtrl">
  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Classroom CRUD</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ><span ng-click="toggleShowStudent()" class="hover-orange point"> <i class="fa fa-plus-circle point"></i> Add Student</span></li>
    </ul>
  </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">


<div ng-if="model.showAddStudent">
    <form name="form">
        <ul class="list-unstyled">
          <li>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name.." ng-model="model.empty.firstName" required>
              <span class="text-danger" ng-show="form.firstName.$dirty && !form.firstName.$valid">Required Field</span>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name.." ng-model="model.empty.lastName" required>
              <span class="text-danger" ng-show="form.lastName.$dirty && !form.lastName.$valid">Required Field</span>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label for="email">email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="user@domain.com" ng-model="model.empty.email" required>
              <span class="text-danger" ng-show="form.email.$dirty && !form.email.$valid">Required Field</span>
            </div>
          </li>
        </ul>

        <button class="btn btn-default" ng-click="reset()">
          Reset
        </button>
        <button class="btn btn-success"  ng-click="form.$valid && addStudent(form)">
          Add
        </button>
    </form>
</div>


<div class="jumbotron" ng-if="model.students.length === 0">
  <h2>Its empty in here</h2>
  <p>To get started <span class="blue underline point hover-orange"  ng-click="toggleShowStudent()">Add Student</span></p>
</div>

<div ng-repeat="student in model.students" class="col-md-4" style="padding:0; margin:5px 0;">
  <div class="panel panel-default" style="margin: 0 5px;">
    <div class="panel-heading">
      <i class="fa fa-remove panel-remove point hover-orange point" ng-click="removeStudent(student)"></i>
      <h3 class="panel-title">{{student.lastName}}, {{student.firstName}}</h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
          <li>
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name.." ng-model="student.firstName">
              </div>
            </li>
            <li>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name.." ng-model="student.lastName">
              </div>
            </li>
            <li>
              <div class="form-group">
                <label for="lastName">email</label>
                <input type="email" class="form-control" id="lastName" placeholder="user@domain.com" ng-model="student.email">
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>


</div>

</body>
</html>