body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url("images/photo.jpg"); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#begin {
	height: 100vh;
	display: none;
	z-index: 99;
}

#main {
	height: 100vh;
	background-color:rgba(34,34,34,0.9);
}

.centered {
	margin: 0 auto;
	text-align: center;
}
