<!--Created by Dustin on 4/25/2015.-->
<test ng-route="'test.html'"></test>
<h1>Break</h1>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Students</th>
    <th>Classes</th>
    <th>Assignments</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
