<!--Created by Dustin on 4/25/2015.-->
<table>
  <thead>
  <tr>
    <th>Students</th>
    <th>Classes</th>
    <th>Assignments</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <table>
        <tr ng-repeat="student in xxxxxxxx">
          <td>{{student.namexxx}}</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr ng-repeat="class in xxxxxxxx">
          <td>{{class.namexxx}}</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr ng-repeat="assignment in xxxxxxxx">
          <td>{{assignment.namexxx}}</td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
