<!--Created by Dustin on 4/25/2015.-->
<div class="orange-back full-on"><table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Students</th>
    <th>Classes</th>
    <th>Assignments</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr ng-repeat="assignm in assignment.assignments | filter:searchText | orderBy:sortOptions.sortOrder">
          <!--                                           ^                                      ^-->
          <td>{{ assignm.name }}</td>
          <td class="col-sm-1"></td>
          <td>{{ assignm.description }}</td>
          <td class="col-sm-1"></td>
          <td>{{ assignm.dateDue | date : 'medium' }}</td>
      </table>
    </td>
  </tr>
  </tbody>
</table></div>